.legend {
  text-align: center;
  padding: 2px;
}

.queued {
  background-color: #00a;
  color: #eee;
}
.preprocessing {
  background-color: #80c;
  color: #000;
}
.started {
  background-color: #880;
  color: #000;
}
.finished {
  background-color: #080;
  color: #000;
}
.failed {
  background-color: #c00;
  color: #eee;
}

.queued a {
  color: #eee;
}
.preprocessing a {
  color:#000;
}
.started a {
  color: #000;
}
.finished a {
  color: #000;
}
.failed a {
  color: #eee;
}

.out-of-date {
  opacity: 0.5;
}
.calibration {
  background-color: #c80;
}
td {
  padding: 5px;
  border: 2px solid white;
}
td a {
  text-decoration: none;
  /*color: white;*/
}
td:not(.selectable) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
th {
  background-color: #448;
  color: #eee;
  padding: 5px;
}
.qa {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  cursor: default;
}
.cal-usable {
  color: #080;
}
.cal-unusable {
  color: #c00;
}
.cal-unsure {
  color: #c80;
}
td.selected-cell {
  border: 3px solid #800;
  padding: 2px;
}
#qa-context-menu {
  border: 1px solid black;
}
.context-menu {
  border: 1px solid black;
  display: none;
  flex-direction: column;
  position: absolute;
}
.context-menuitem {
  padding: 5px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}
.context-menuitem:hover {
  background-color: beige;
}

.proc-obs-task {
  padding: 5px;
  margin: 10px 0px;
  background-color: #ddd;
  border: 1px solid black;
}

.proc-obs-task summary:hover {
  background-color: #aaa;
}
