{% extends 'processing/main.html' %}

{% load static %}

{% block title %}
{{ epoch }}
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'processing/epoch_overview.css' %}">
{% endblock %}

{% block body %}
<div>
  <h1>{{ request.user.session_settings.selected_semester }} <a href="{% url 'user_session_settings' %}?next={% url 'epoch_overview' epoch=epoch %}"><i class="fa fa-edit"></i></a></h1>
  <h2>{{ request.user.session_settings.selected_hpc_user }} <a href="{% url 'user_session_settings' %}?next={% url 'epoch_overview' epoch=epoch %}"><i class="fa fa-edit"></i></a></h2>
  <h3>{{ epoch }}</h3>
  <p>
    See this epoch's <a href="{% url 'backup_view' epoch=epoch %}">backups</a>.
    Add <a href="{% url 'add_observations_to_semester_plan' %}?next={% url 'epoch_overview' epoch=epoch %}&epoch={{ epoch }}&semester_id={{ request.user.session_settings.selected_semester.id }}">more observations</a> to this list.
  </p>
  Legend:
  <span class="queued legend">Queued</span>
  <span class="preprocessing legend">Preprocessing</span>
  <span class="started legend">Started</span>
  <span class="finished legend">Finished</span>
  <span class="failed legend">Failed</span>
  <span class="calibration legend">Calibration</span>
  <span class="finished legend out-of-date">Finished, out-of-date</span>
</div>
<form method="post" action="{% url 'set_epoch_cal' epoch=epoch %}">
  {% csrf_token %}
  <label for="set_epoch_cal">Assign this cal obs to all observations in this epoch (or type 'selfcal' to assign each observation its own ID):</label>
  <input id="set_epoch_cal" name="cal_obs" required/>
  <button type="submit">Submit</button>
</form>
<p>Times shown are <b>job start times (UTC)</b>.</p>
<!-- Context menu for QA = "quality assurance" -->
<div id="qa-context-menu" class="context-menu">
  <div class="context-menuitem cal-usable" onclick='setQa("good");'>&#x2713;</div>
  <div class="context-menuitem cal-unusable" onclick='setQa("bad");'>&#x274C;</div>
  <div class="context-menuitem" onclick='setQa("none");'>Remove QA</div>
</div>
<table>
  <tr>
    <th>ObsID</th>
    <th>CalObsId</th>
    <th>Pipeline</th>
  </tr>
  {% for obs, details in details_by_obs.items %}
  <tr class="epoch-overview-row">
    <td class="selectable {% if obs.calibration %}calibration{% endif %}">{{ obs }}</td>
    <td>{{ obs.cal_obs }}</td>
    <td>{{ details.0.pipeline_step.pipeline.name }}</td>
    {% for detail in details %}
    <td class="{{ detail.array_job.status }}">
      <a href="{% url 'proc_obs_task' obs_id=obs.obs task_id=detail.pipeline_step.task.id %}">
        <span>{{ detail.pipeline_step.task.name|upper }}</span>
      </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<script type="text/javascript" src="{% static 'processing/epoch_overview.js' %}"></script>

{% endblock %}
