{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ epoch }}</title>
  </head>
  <body>
    <div>
      <p>Back to <a href="{% url 'epochs' pipeline=pipeline user=user %}">list of epochs</a></p>
      <p>See this epoch's <a href="{% url 'backup_view' epoch=epoch %}">backups</a></p>
      Legend:
      <span class="queued legend">Queued</span>
      <span class="started legend">Started</span>
      <span class="finished legend">Finished</span>
      <span class="failed legend">Failed</span>
      <span class="calibration legend">Calibration</span>
      <span class="finished legend out-of-date">Finished, out-of-date</span>
    </div>
    <form method="post" action="{% url 'set_epoch_cal' pipeline=pipeline epoch=epoch user=user %}">
      {% csrf_token %}
      <label for="set_epoch_cal">Assign this cal obs to all observations in this epoch (or type 'selfcal' to assign each observation its own ID):</label>
      <input id="set_epoch_cal" name="cal_obs" required/>
      <button type="submit">Submit</button>
    </form>
    <p>Times shown are <b>submission times (UTC)</b>.</p>
    <!-- Context menu for QA = "quality assurance" -->
    <div id="qa-context-menu" class="context-menu">
      <div class="context-menuitem cal-usable" onclick='setQa("good");'>&#x2713;</div>
      <div class="context-menuitem cal-unusable" onclick='setQa("bad");'>&#x274C;</div>
      <div class="context-menuitem" onclick='setQa("none");'>Remove QA</div>
    </div>
    <table>
      <tr>
        <th>Obs ID</th>
        <th>Assigned cal obs</th>
        <th>download</th>
        <th>autoflag</th>
        <th>autocal</th>
        <th>applycal</th>
        <th>uvflag</th>
        <th>uvsub</th>
        <th>image</th>
        <th>transient</th>
        <th>acacia</th>
        <th>restore</th>
        <th>tfilter</th>
        <th>Notes</th>
      </tr>
      {% for obs, tasks in overviews.items %}
      <tr class="epoch-overview-row">
        <td class="selectable{% if obs.calibration %} calibration{% endif %}">{{ obs }}</td>
        <td>{{ obs.cal_obs }}</td>
        <td class="{{ tasks.download.status }}">
          <span class="datetime">{{ tasks.download.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.flag.status }} {% if tasks.flag.date < tasks.download.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.flag.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.calibrate.status }} {% if tasks.calibrate.date < tasks.flag.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.calibrate.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.apply_cal.status }} {% if tasks.apply_cal.date < tasks.flag.date %}out-of-date{% endif %}">
          {{ tasks.apply_cal.cal_obs }}<br>
          <span class="datetime">{{ tasks.apply_cal.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.uvflag.status }} {% if tasks.uvflag.date < tasks.apply_cal.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.uvflag.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.uvsubtract.status }} {% if tasks.uvsubtract.date < tasks.uvflag.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.uvsubtract.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="image-cell {{ tasks.image.status }} {% if tasks.image.date < tasks.uvsubtract.date %}out-of-date{% endif %}" onClick="selectCell(this, {{ obs }}, {{ tasks.apply_cal.cal_obs }});">
          <span class="datetime">{{ tasks.image.date|date:'Y-m-d H:i' }}</span>
          {% if tasks.apply_cal.cal_obs %}
          {% if tasks.apply_cal.cal_usable %}
          <div class="qa cal-usable">&#x2713;</div>
          {% elif tasks.apply_cal.cal_usable == False %}
          <div class="qa cal-unusable">&#x274C;</div>
          {% elif tasks.apply_cal.cal_notes != '' %}
          <div class="qa cal-unsure">?</div>
          {% else %}
          <div class="qa"></div>
          {% endif %}
          {% endif %}
        </td>
        <td class="{{ tasks.transient.status }} {% if tasks.transient.date < tasks.image.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.transient.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.acacia.status }} {% if tasks.acacia.date < tasks.transient.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.acacia.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.restore.status }}">
          <span class="datetime">{{ tasks.restore.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td class="{{ tasks.tfilter.status }} {% if tasks.tfilter.date < tasks.transient.date %}out-of-date{% endif %}">
          <span class="datetime">{{ tasks.tfilter.date|date:'Y-m-d H:i' }}</span>
        </td>
        <td>
          {{ tasks.apply_cal.cal_notes }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
  <script>
  {% include 'processing/epoch_overview.js' %}
  </script>
</html>
<style>
{% include 'processing/epoch_overview.css' %}
</style>
