{% extends 'processing/main.html' %}

{% load static %}

{% block body %}

<h1>Settings</h1>

<form method="post">
  {% csrf_token %}
  <h2>HPC settings for {{ hpc_user }}</h2>

  <table>
    <tr>
      <td><label for="account">Account:</label></td>
      <td><input id="account" name="account" maxlength="31" value="{{ hpc_user.hpc_user_settings.account }}" required/></td>
    </tr>

    <tr>
      <td><label for="max_array_jobs">Max. size of job array:</label></td>
      <td><input id="max_array_jobs" name="max_array_jobs" type="number" min="1" value="{{ hpc_user.hpc_user_settings.max_array_jobs|default:'' }}"/></td>
    </tr>

    <tr>
      <td><label for="container">Path to <b>container</b>:</label></td>
      <td><input id="container" name="container" value="{{ hpc_user.hpc_user_settings.container|default:'' }}" required style="width: 800px;"/></td>
    </tr>

    <tr>
      <td><label for="mwapb">Path to <b>MWA primary beam embedded element file</b>:</label></td>
      <td><input id="mwapb" name="mwapb" value="{{ hpc_user.hpc_user_settings.mwapb|default:'' }}" required style="width: 800px;"/></td>
    </tr>

    <tr>
      <td><label for="sky_model">Path to <b>sky model file</b>:</label></td>
      <td><input id="sky_model" name="sky_model" value="{{ hpc_user.hpc_user_settings.sky_model|default:'' }}" required style="width: 800px;"/></td>
    </tr>

    <tr>
      <td><label for="basedir">(Pipeline software) base directory:</label></td>
      <td><select id="basedir" name="basedir" required>
          <option value=''>--- Select ---</option>
          {% for hpc_path in hpc_paths %}
          <option value='{{ hpc_path.pk }}' {% if hpc_path == hpc_user.hpc_user_settings.basedir %}selected{% endif %}>{{ hpc_path }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="scratchdir">Scratch directory:</label></td>
      <td><select id="scratchdir" name="scratchdir" required>
          <option value=''>--- Select ---</option>
          {% for hpc_path in hpc_paths %}
          <option value='{{ hpc_path.pk }}' {% if hpc_path == hpc_user.hpc_user_settings.scratchdir %}selected{% endif %}>{{ hpc_path }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="logdir">Destination directory for <b>log</b> files:</label></td>
      <td><select id="logdir" name="logdir" required>
          <option value=''>--- Select ---</option>
          {% for hpc_path in hpc_paths %}
          <option value='{{ hpc_path.pk }}' {% if hpc_path == hpc_user.hpc_user_settings.logdir %}selected{% endif %}>{{ hpc_path }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="scriptdir">Destination directory for <b>script</b> files:</label></td>
      <td>
        <select id="scriptdir" name="scriptdir" required>
          <option value=''>--- Select ---</option>
          {% for hpc_path in hpc_paths %}
          <option value='{{ hpc_path.pk }}' {% if hpc_path == hpc_user.hpc_user_settings.scriptdir %}selected{% endif %}>{{ hpc_path }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="mwalookupdir">Directory containing <b>MWA lookup files</b>:</label></td>
      <td>
        <select id="mwalookupdir" name="mwalookupdir" required>
          <option value=''>--- Select ---</option>
          {% for hpc_path in hpc_paths %}
          <option value='{{ hpc_path.pk }}' {% if hpc_path == hpc_user.hpc_user_settings.mwalookupdir %}selected{% endif %}>{{ hpc_path }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <input name="next" hidden value="{{ next|default:'' }}"\>

  <input type="submit" class="btn btn-primary" name="action" value="Save"/>
</form>

<h3>Notes</h3>

<h4>MWA beam file</h4>

<p>Some of the processing tasks use the <b>MWA primary beam file</b> to calculate the beam. However, as far as I can tell, it always looks for the hard-coded filename <code>mwapy/data/mwa_full_embedded_element_pattern.h5</code> within the paths specified in <code>PYTHONPATH</code>. Currently, <code>PYTHONPATH</code> is defined as consisting of</p>
<pre>
   {basedir}
   {basedir}/gpm/bin
   /local/usr/bin
   {basedir}/externals/tfilter
</pre>
<p>where <code>basedir</code> is the "(Pipeline software) base directory". Thus, the important thing may be to put the beam file in a <code>mwapb/data</code> subdirectory of one of the paths listed above.</p>
<p>For the record, <i>your</i> <code>PYTHONPATH</code> is currently defined as</p>
<pre>
{% for pythonpath in pythonpaths %}  {{ pythonpath }}
{% endfor %}
</pre>


<script>
  const clusters_dropdown = document.getElementById('clusters');
  const hpc_users_dropdown = document.getElementById('hpc_users');
  const clusters_by_hpc_user = {{ clusters_by_hpc_user|safe }};

  // Update clusters dropdown depending on selected HPC user
  function update_clusters () {
    clusters_dropdown.innerHTML = '';
    for (const cluster of clusters_by_hpc_user[hpc_users_dropdown.value]) {
      const option = document.createElement('option');
      option.value = cluster.pk;
      option.text = cluster.name;
      clusters_dropdown.appendChild(option);
    }
    clusters_dropdown.value = "{{ request.user.session_settings.selected_cluster.pk }}";
  }

  update_clusters();
</script>

{% endblock %}
