{% extends 'processing/main.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'processing/epoch_overview.css' %}">
{% endblock %}

{% block body %}

<h1>Processing for {{ obs }}:{{ task }}</h1>

{% for processing in processings %}
<div class="proc-obs-task">
  <b>SLURM Job:</b> {{ processing.job_id }}
  <b>Array job:</b> {{ processing.array_task_id }}
  <br>
  <b>Submitted:</b> {{ processing.submission_time }}
  <b>Started:</b> {{ processing.start_time }}
  <b>Finished:</b> {{ processing.end_time }}
  <br>
  <span class="{{ processing.status }}"><b>{{ processing.status|upper }}</b></span>
  <a href="{% url 'remote_file' remote_path=processing.batch_file_full_path %}">Batch file</a>
  <a href="{% url 'remote_file' remote_path=processing.stdout_full_path %}">STDOUT</a>
  <a href="{% url 'remote_file' remote_path=processing.stderr_full_path %}">STDERR</a>
</div>
{% endfor %}

{% endblock %}
