{% extends 'processing/main.html' %}

{% load static %}

{% load unix_filters %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'processing/epoch_overview.css' %}">
{% endblock %}

{% block body %}

<h1>Processing for {{ obs }}:{{ task }}</h1>

<div class="proc-obs-task">
  <b>Command:</b>
  <code>{{ semester_plan_processing_detail.pipeline_step.command }} {{ obs.obs }}</code>
</div>

{% for array_job in array_jobs %}
<div class="proc-obs-task">
  <b>Processing code version:</b> {{ array_job.processing.commit|default:"[Not recorded]" }}
  <br>
  <b>Cluster:</b> {{ array_job.processing.cluster.name }}
  <b>SLURM Job:</b> {{ array_job.processing.job_id }}
  <br>
  <b>Started:</b> {{ array_job.start_time|unix_to_datetime|date:"Y-m-d H:i:s" }}
  <b>Finished:</b> {{ array_job.end_time|unix_to_datetime|date:"Y-m-d H:i:s" }}
  <br>
  <span class="{{ array_job.status }}"><b>{{ array_job.status|upper }}</b></span>
  {% if array_job.processing.batch_file %}- <a href="{% url 'log_view' processing_id=array_job.processing.id logfile_type='batch' %}">Batch file</a>{% endif %}
  {% if array_job.processing.stdout %}- <a href="{% url 'log_view' processing_id=array_job.processing.id logfile_type='stdout' %}">STDOUT</a>{% endif %}
  {% if array_job.processing.stderr %}- <a href="{% url 'log_view' processing_id=array_job.processing.id logfile_type='stderr' %}">STDERR</a>{% endif %}
  {% if array_job.processing.job_id %}- <a href="{% url 'log_view' processing_id=array_job.processing.id logfile_type='seff' %}">seff</a>{% endif %}
  <br>
  <B>Data directory:</b> <code>{{ array_job.datadir }}</code>
  <br>
  <details>
    <summary>sbatch</summary>
    <pre>{{ array_job.processing.sbatch }}</pre>
  </details>
</div>
{% endfor %}

{% endblock %}
