{% extends 'processing/main.html' %}

{% load static %}

{% load unix_filters %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'processing/epoch_overview.css' %}">
{% endblock %}

{% block body %}

<h1>Processing for {{ obs }}:{{ task }}</h1>

<div class="proc-obs-task">
  <b>Command:</b>
  <code>{{ semester_plan_processing_detail.pipeline_step.command }} {{ obs.obs }}</code>
</div>

{% for processing in processings %}
<div class="proc-obs-task">
  <b>Processing code version:</b> {{ processing.commit|default:"[Not recorded]" }}
  <br>
  <b>Cluster:</b> {{ processing.cluster.name }}
  <b>SLURM Job:</b> {{ processing.job_id }}
  <b>Array job:</b> {{ processing.array_task_id }}
  <br>
  <b>Submitted:</b> {{ processing.submission_time|unix_to_datetime|date:"Y-m-d H:i:s" }}
  <b>Started:</b> {{ processing.start_time|unix_to_datetime|date:"Y-m-d H:i:s" }}
  <b>Finished:</b> {{ processing.end_time|unix_to_datetime|date:"Y-m-d H:i:s" }}
  <br>
  <span class="{{ processing.status }}"><b>{{ processing.status|upper }}</b></span>
  {% if processing.batch_file %}- <a href="{% url 'log_view' processing_id=processing.id logfile_type='batch' %}">Batch file</a>{% endif %}
  {% if processing.stdout %}- <a href="{% url 'log_view' processing_id=processing.id logfile_type='stdout' %}">STDOUT</a>{% endif %}
  {% if processing.stderr %}- <a href="{% url 'log_view' processing_id=processing.id logfile_type='stderr' %}">STDERR</a>{% endif %}
  {% if processing.job_id %}- <a href="{% url 'log_view' processing_id=processing.id logfile_type='seff' %}">seff</a>{% endif %}
  <br>
</div>
{% endfor %}

{% endblock %}
