#! /bin/bash -l
set -x

obsnum=$1
datadir=$2
calfile=$3
debug=$4 # Any non-"0" value will mean that debug mode is on

cd "${datadir}" || exit

# If in debugging mode, apply to the CORRECTED_DATA column
if [[ "$debug" != "0"]]
then
    applysolutions \
                ${obsnum}.ms \
                "${calfile}"
# If in production mode, apply to the DATA column
else
    applysolutions \
                -nocopy \
                ${obsnum}.ms \
                "${calfile}"
fi

