#! /bin/bash -l

set -x

obsnum=$1

epoch="$(${GPMBASE}/gpm_track.py obs_epoch --obs_id ${obsnum})"
datadir="${GPMSCRATCH}/${epoch}/${obsnum}"

cd "${datadir}" || exit 1

# Set up telescope-configuration-dependent options

flags=$(${GPMBASE}/gpm_track.py obs_flagantennae --obs_id ${obsnum})

if [[ ! -z ${flags} ]]
then
    echo "Flagging tiles $flags"
    flagantennae ${obsnum}.ms $flags
fi

