#! /bin/bash -l

set -x

obsnum=OBSNUM

# If obsnum is a file, then we are in an array job
if [[ -f "${obsnum}" ]]
then
    taskid="${SLURM_ARRAY_TASK_ID}"
    jobid="${SLURM_ARRAY_JOB_ID}"

    echo "obsfile ${obsnum}"
    obsnum=$(sed -n -e "${SLURM_ARRAY_TASK_ID}"p "${obsnum}")
    echo "image obsid ${obsnum}"
else
    taskid=1
    jobid="${SLURM_JOB_ID}"
fi

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"

function test_fail {
if [[ $1 != 0 ]]
then
    track_task.py fail --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
    exit "$1"
fi
}

epoch="$(${GPMBASE}/gpm_track.py obs_epoch --obs_id ${obsnum})"
datadir="${GPMSCRATCH}/${epoch}/${obsnum}"

cd "${datadir}" || exit 1

# Update database
track_task.py start --jobid="${jobid}" --taskid="${taskid}" --start_time="$(date +%s)"

datadir="${base}/${obsnum}"
cd "${datadir}" || exit

# The default output name of calc_leakage (below) appends _fixed to the stem
# of the fixed V image:
#
#   ${obsnum}_deep-${subchan}-V-image-pb_fixed.fits
#
# However, the postimage step assumes filenames without the _fixed part. So,
# we first move the Stokes V image to a different name, and ask calc_leakage
# to output the fixed image with the original (non-"_fixed") name:

# Calculate the Stokes V leakage, and fix
subchans="0000 0001 0002 0003 MFS"
for subchan in $subchans
do
    mv -v ${obsnum}_deep-${subchan}-V-image-pb.fits \
          ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits

    calc_leakage.py \
        --Inonpb ${obsnum}_deep-${subchan}-I-image.fits \
        --Ipb ${obsnum}_deep-${subchan}-I-image-pb.fits \
        --Vpb ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits \
        --Vout ${obsnum}_deep-${subchan}-V-image-pb.fits \
        --plots
done

test_fail $?
track_task.py finish --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
track_task.py obs_status --obs_id="${obsnum}" --status='leakage fixed'

