#! /bin/bash -l

set -x

obsnum="$1"
datadir="$2"

cd "${datadir}" || exit 1

# The default output name of calc_leakage (below) appends _fixed to the stem
# of the fixed V image:
#
#   ${obsnum}_deep-${subchan}-V-image-pb_fixed.fits
#
# However, the postimage step assumes filenames without the _fixed part. So,
# we first move the Stokes V image to a different name, and ask calc_leakage
# to output the fixed image with the original (non-"_fixed") name:

# Calculate the Stokes V leakage, and fix
subchans="0000 0001 0002 0003 MFS"
for subchan in $subchans
do
    if [ ! -f ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits ]
    then
        # First time to apply leakage correction:
        # Make a copy of the pre-corrected Stokes V image
        cp ${obsnum}_deep-${subchan}-V-image-pb.fits \
           ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits
    else
        # Not the first time applying leakage correction:
        # Two cases:
        #   1. A few copy of the Stokes V image as been made by a previous step,
        #      in which case we want to base the calculation from "...image-pb.fits"
        #   2. The user has simply tried to re-run this script, in which case we
        #      want to base the calculation from "...before_leakage_fix.fits"
        # The way to tell the difference it to check which of the two files
        # is newer.
        if [ ${obsnum}_deep-${subchan}-V-image-pb.fits -nt ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits ]
        then
            cp ${obsnum}_deep-${subchan}-V-image-pb.fits \
               ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits
        else
            cp ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits \
               ${obsnum}_deep-${subchan}-V-image-pb.fits
        fi
    fi

    calc_leakage.py \
        --Inonpb ${obsnum}_deep-${subchan}-I-image.fits \
        --subchan ${subchan} \
        --Ipb ${obsnum}_deep-${subchan}-I-image-pb.fits \
        --Vpb ${obsnum}_deep-${subchan}-V-image-pb-before_leakage_fix.fits \
        --Vout ${obsnum}_deep-${subchan}-V-image-pb.fits \
        --plots
done

