#! /bin/bash -l

set -x

echo "${GPMBASE}"

obsids=OBSIDS # Expected to be a whitespace-separated list of valid obsid numbers, e.g. "1234000000 1235000000 1236000000"

giant-squid submit-conv -p avg_time_res=4,avg_freq_res=40,flag_edge_width=80,output=ms $obsids

