#! /bin/bash -l

set -x

# This script is expected to be
obsnum=$SLURM_ARRAY_TASK_ID

cd "${GPMBASE}" || exit 1

# Mark start of download in database
track_task.py start --jobid="${SLURM_JOBID}" --taskid=$obsnum --start_time="$(date +%s)"

# Ensure that the target download directory exists and cd into it
mkdir -p "${obsnum}" && cd "${obsnum}"

# Make (doubly) sure that the measurement set hasn't already been downloaded (in full or in part)
if [[ -d "${obsnum}.ms" ]]
then
    echo "${obsnum}.ms already exists; please remove directory before trying to (re)download."
    track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
    exit 1
fi

# Submit the download request via giant-squid
giant-squid download ${obsnum}

# Check if the download was successful
if [[ $? -ne 0 ]] # i.e. if it failed
then
    track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
    exit 1
fi

track_task.py finish --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"

