#! /bin/bash -l

set -x

# Consume the first argument as the obsid
obsnum=$1

# Mark start of download in database
track_task.py start --jobid="${SLURM_JOBID}" --taskid="${SLURM_ARRAY_TASK_ID}" --start_time="$(date +%s)"

if [[ -z $obsnum ]]
then
    echo "No obsid passed to giant-squid download script. Not downloading anything."
    track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${SLURM_ARRAY_TASK_ID}" --finish_time="$(date +%s)"
    exit 1
fi

cd "${GPMSCRATCH}" || exit 1

project=$(${GPMBASE}/gpm_track.py obs_epoch --obs_id $obsnum)

# Ensure that the target download directory exists and cd into it
mkdir -p "${project}/${obsnum}" && cd "${project}/${obsnum}"

# Make (doubly) sure that the measurement set hasn't already been downloaded (in full or in part)
if [[ -d "${obsnum}.ms" ]]
then
    echo "${obsnum}.ms already exists; please remove directory before trying to (re)download."
    track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${SLURM_ARRAY_TASK_ID}" --finish_time="$(date +%s)"
    exit 1
fi

# Submit the download request via giant-squid
giant-squid download ${obsnum}

# Check if the download was successful
if [[ $? -ne 0 ]] # i.e. if it failed
then
    track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${SLURM_ARRAY_TASK_ID}" --finish_time="$(date +%s)"
    exit 1
fi

track_task.py finish --jobid="${SLURM_JOBID}" --taskid="${SLURM_ARRAY_TASK_ID}" --finish_time="$(date +%s)"

