#! /bin/bash -l

set -x

obsnum="$1"
datadir="$2"
runname="$3" # This sets the "project" name in the candidate webapp uploads.

cd "${datadir}" || exit 1

# Run the filters!
run_tfilter.py --project ${runname} --run_name ${runname} $PWD/${obsnum}_transient.hdf5 ${obsnum}
if [ $? -ne 0 ]; then exit 1; fi

# Create a subfolder to put all these files in.
mkdir -p tfilter_results
mv ${obsnum}_${runname}*png \
   ${obsnum}_${runname}*gif \
   ${obsnum}_${runname}_islands_selected_meta.fits tfilter_results/.

# Upload to the webapp!
upload_cand.py --data_directory tfilter_results
if [ $? -ne 0 ]; then exit 1; fi
