#! /bin/bash -l
set -x

obsnum=$1
datadir=$2
debug=$3 # Any non-"0" value turns on debug mode

cd "${datadir}" || exit 1

if [[ "$debug" != "0" ]]
then
    ms_flag_by_uvdist.py "${obsnum}.ms" CORRECTED_DATA -a 
else
    ms_flag_by_uvdist.py "${obsnum}.ms" DATA -a
fi

