#! /bin/bash -l

# A template script to generate a model of a-team sources that will be subtracted
# from the visibility dataset. The idea is to make small images around a-team sources
# which that than subtracted from the visibilities. We are using wsclean to first chgcenter
# and the clean a small region arount the source. This is then subtracted from the 
# column (DATA or CORRECTED_DATA). 

set -x

obsnum="$1"
datadir="$2"
debug="$3"

function test_fail {
if [[ $1 != 0 ]]
then
    exit "$1"
fi
}

cd "${datadir}" || exit 1

metafits="${obsnum}.metafits"
if [[ ! -e ${metafits} ]] || [[ ! -s ${metafits} ]]
then
    wget -O "${metafits}" "http://ws.mwatelescope.org/metadata/fits?obs_id=${obsnum}"
    test_fail $?
fi


# Check whether the phase centre has already changed
# uvsub will fail if it has, so measurement set must be shifted back to its original position
current=$(chgcentre "${obsnum}.ms") 

if [[ $current == *"shift"* ]] 
then
    echo "Detected that this measurement set has undergone a denormal shift; this must be undone before subtrmodel."
    coords=$(calc_optimum_pointing.py --metafits "${metafits}")
    echo "Optimally shifting co-ordinates of measurement set to $coords, without zenith shiftback."
    chgcentre \
            "${obsnum}.ms" \
            ${coords}
else 
    echo "Detected that no shift is needed for this measurement set."
fi

submodel="${obsnum}.ateam_outlier"
rm -f "$submodel"

debugoption=
if [[ "$debug" != "0" ]]
then
    debugoption='--corrected-data'
fi
echo "Generating model of A-Team sources for uv-subtraction"
generate_ateam_subtract_model.py "${obsnum}.metafits" \
                                --mode wsclean \
                                --min-elevation 0.0 \
                                --min-flux 5  \
                                --check-fov \
                                $debugoption \
                                --model-output "${submodel}" 

if [[ -e "${submodel}" ]]
then
    echo "Running wslean outlier clean and subtraction... "
    chmod +x "${submodel}"
    ./"${submodel}"
    test_fail $?

    echo "Removing outlier files"
    rm -f *outlier*fits
else
    echo "No wsclean script ${submodel} found, so nothing to do. Exiting."
fi
